NEXT_PUBLIC_APP_ID = "ben-que-market-next-app"

NEXT_PUBLIC_CURRENCY_SYMBOL = "đ"

ADMIN_EMAIL = "phongvo27ams@gmail.com"

# Local database configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ben_que_market_next_app?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/ben_que_market_next_app?schema=public"

# Neon cloud database configuration
DATABASE_URL = "postgresql://neondb_owner:xxxxx"
DIRECT_URL = "postgresql://neondb_owner:xxxxx"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = "pk_test_xxxxx"
CLERK_SECRET_KEY = "sk_test_xxxxx"

INNGEST_EVENT_KEY = "xxxxx"
INNGEST_SIGNING_KEY = "signkey-prod-xxxxx"

IMAGEKIT_PUBLIC_KEY = "public_xxxxx"
IMAGEKIT_PRIVATE_KEY = "private_xxxxx"
IMAGEKIT_URL_ENDPOINT = "https://ik.imagekit.io/xxxxx"

STRIPE_SECRET_KEY = "sk_test_xxxxx"
STRIPE_WEBHOOK_SECRET = "whsec_xxxxx"

OPENAI_API_KEY = "sk-proj-xxxxx"
OPENAI_MODEL = "gpt-4o-mini"
